
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  color: #FFF;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
nav,
button {
  font-family: 'Roboto', sans-serif;
}

/* Responsive images */

img {
  max-width: 100%;
  height: auto;
}


header {
  display: flex;
  position: fixed;
  padding: 10px;
  width: 100vw;
  color: #fff;
  background-color: #f0f0f0;
  z-index: 2;
  height: 3em
}

header #logo {
  flex-grow: 1;
  font-size: 1.5rem;
  color: #242456;
  margin-top: 0;
  margin-left: 0.825rem;
  position: absolute;
  top: 0;
  float: right;
}

header #logo #logo-dot {
  color: #4a49c9;
  font-size: 2rem
}

header nav {
  display: flex;
  margin-top: 0;
  flex-direction: row;
}

#links {
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}

.nav-item {
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 0.875rem;
  color: #4a49c9;
  text-decoration: none;
  padding: 5px;
}

.nav-item a {
  color: #4a49c9;
}

.nav-item:hover {
  color: #202b47;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #d3d3d3;
}

#nav-contact {
  font-weight: normal;
  font-size: 0.975rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #d3d3d3;
  text-transform: uppercase;
  margin-right: 1.5rem;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 5px;
}

#nav-contact:hover {
  background-color: #d3d3d3;
}


#btn-purple button{
  all: unset;
  color: #fff;
  background-color: #4a49c9;
  text-align: center;
  border-radius: 0.5rem;
  width: 10rem;
  height: 2.5rem;
  font-size: .875rem;
  text-transform: uppercase;
  font-weight: bold;
}


#btn-purple button:hover{
  color: #fff;
  background-color: #1816a6;

}

/* Header logo/hiding menu */


/* Basic Flex Constructs */

.flex {
  display: flex;
}

@media screen and (max-width: 600px) {
  .flex {
    flex-flow: column wrap;
    align-items: center;
    padding: 0 15px;
  }
}

/* Sections */
section {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  overflow: hidden;
}


#main{
  background-color: #F0f0f0;
  padding-left: 7em;
  display: flex;
  flex-direction: row;
  height: 60vh;
}

#main-text{
  display: flex;
  flex-direction: column;
  margin: auto;
}


#main h1{
  color: #242456;
  font-size: 4rem;
  margin-bottom: 0;
}

#main p{
  color: #242456;
  font-size: 1.25rem;
}

#main-btn{
  all: unset;
  color: #fff;
  background-color: #4a49c9;
  border-radius: 0.5rem;
  width: 10rem;
  height: 2.5rem;
  font-size: .875rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

#main-btn:hover{
  color: #fff;
  background-color: #1816a6;
}

#contact-main {
  border-radius: 0.5rem;
  width: 10rem;
  height: 2.5rem;
  font-size: .875rem;
}

#main-photo{
  max-width: 40vw;
  width: 500px;
  margin: auto;
}


.banner {
  background-color: #242456;
  display: flex;
  flex-direction: column;
}

.banner h2{
  text-align: center;
  color: #FFF;
  font-size: .925rem;
  font-weight: normal;
  text-transform: uppercase;
}

#logo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1.125rem 5vw;
}

#logo-container img{
  padding: .5em;
  width: 60%;
  margin: auto;
}
#stats {
  display: flex;
  flex-direction: column;
}


.banner-white {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.banner-white h2{
  text-align: center;
  color: #242456;
  font-size: .925rem;
  font-weight: normal;
  text-transform: uppercase;
}

.banner-white p {
  color: #242456;
}

.banner-white .stat-no {
  color: #4a49c9;
}



#empower {
  display: flex;
  flex-direction: row;
}

#empower #empower-img{
    flex: 0 0 50vw;
    padding: 2rem;
    max-width: 40vw;
    width: 500px;
    margin: auto;
}

#empower #empower-img img{
    width: 100%;
}

#empower #empower-text{
    flex: 0 0 50vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: #242456;
}

#empower #empower-text h2{
  font-size: 3.25rem;
  color: #242456;
  margin-bottom: 0;
}

#empower #empower-text p{
  font-size: 1.125rem;
  color: #242456;
}


#skills {
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
}

#skills #skills-text {
  flex: 0 0 50vw;
  padding: 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#skills #skills-text h2{
  font-size: 3.25rem;
  color: #242456;
  margin-bottom: 0;
}

#skills #skills-text p{
  font-size: 1.125rem;
  color: #242456;
}


#skills #skills-img{
  flex: 0 0 50vw;
  padding: 2rem;
  max-width: 40vw;
  width: 500px;
  margin: auto;
}

#skills #skills-img img {
  width: 100%;
}


.footer {
  width: 100vw;
  background-color: #242456;
  color: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
}

.footer #footer-text h2 {
  font-size: 2.25rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.contact {
  all: unset;
  color: #4a49c9;
  background-color: #fff;
  margin: auto;
  margin-bottom: 2em;
  border-radius: 0.5rem;
  width: 10rem;
  height: 2.5rem;
  font-size: .875rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.contact:hover {
  color: #4a49c9;
  background-color: #d3d3d3;
}


.stats-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
}

.stats-container p{
  margin: auto;
  padding: 1rem;
  display: inline-block;
}

.stat-no {
  font-size: 3.25rem;
}




.footer .stats-container p{
  padding: 1rem;
  margin-bottom: 1rem;
}



/* Programs */

#programs-main{
  background-color: #F0f0f0;
  padding-left: 7em;
  display: flex;
  flex-direction: row;
}

#programs-main-text{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 1.5rem;
  display: block;
  width: 85vw;
}


#programs-main h1{
  color: #242456;
  font-size: 3.125rem;
}

#programs-main p{
  color: #242456;
  font-size: 1.25rem;
}


#programs-detail {
  display: flex;
  flex-direction: row;
  background-color: #242456;
  padding-bottom: 1.5rem;

}

table {
  border: 1px solid #fff;
  border-collapse: collapse;
  padding: 0;
  width: 85vw;
  margin: auto;
  table-layout: fixed;
  color: #fff;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  border: 1px solid #fff;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #fff
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #fff;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.inquire-btn{
  all: unset;
  color: #4a49c9;
  background-color: #fff;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 0.5rem;
  font-size: .875rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.25rem;
}

.inquire-btn:hover{
  background-color: #d3d3d3;
}

#special {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

#special-head {
  width: 42.5vw;
  margin-left: 7.5vw;
  margin-top: 3.125rem;
  color: #242456;
  font-size: 1.5rem;
}

#special-span {
  color: #4a49c9;
  font-style: italic;
}

#special ul {
  width: 42.5vw;
  margin-right: 7.5vw;
  font-size: 1.125rem;
  color: #242456;
}

#special li {
  padding: 10px;
}

