
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

p {
  line-height: 1.5em;
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
  cursor: pointer;
}

h1,
h2,
h3,
nav,
button {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

/* Responsive images */

img {
  max-width: 100%;
  height: auto;
}

/* nav */

#nav {
  display: flex;
  position: fixed;
  padding: 1em 5em;
  color: #fff;
  background-color: #f0f0f0;
  z-index: 2;
  height: 6.25em;
  width: 100vw;
}



.logo {
  margin-right: 1rem;
}



#nav nav {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: auto;
  padding-left: 4rem
}

#links {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-item {
  margin: 1.5rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: #4a49c9;
  text-decoration: none;
}

.nav-item a {
  color: #4a49c9;
}

.nav-item:hover {
  color: #202b47;
}

.nav-logo {
  width: 7.5rem;
}

#nav-contact {
  font-weight: normal;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #d3d3d3;
  margin-top: 0.5rem;
  padding: 1rem;
  font-weight: bold;
  align-self: flex-end;
}

#footer-links {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  min-height: 5rem;
  padding-left: calc(10vw + 4rem);
}

#logo-footer{
    flex-grow: 1;
    font-size: 1.5rem;
    color: #242456;
    margin-top: 0.75rem;
    margin-left: 4rem;
    margin-bottom: 0.75rem;
}

#logo-footer-dot {
  font-size: 2rem;
  color: #4a49c9;
}

.nav-text {
  color: #6a6a6a;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  font-weight: bold;
  font-size: 0.875rem;
  text-decoration: none;
  padding: 5px;

}

#footer-links .nav-item {
  color: #4a49c9;
  margin-top: 1.25rem;
  margin-right: 1.5rem;
  flex-direction: column;
}

#footer-links-text{
  display: flex;
  flex-direction: row;
  padding: 5px;
}

#logo-footer-container {
  display: flex;
  flex-direction: row;
}

#nav-contact:hover {
  background-color: #f9f9f9;
}

#hamburger {
  display: none;
}


#hamburger-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100vw;
  z-index: 1;
}
#hidden {
  display: none;
}


@media screen and (max-width: 850px) {
  #links {
    display: none;
    left: 3rem;
  }

  #hidden {
    display: block;
  }


  #nav nav{
    padding-left: 0;
  }

  #nav-contact {
    display: none;
  }

  #hamburger {
    display: block;
    color: #4a49c9;
    font-size: 2rem;
    position: absolute;
    right: 3rem;
    top: 2rem;
  }

  #hamburger-content.active{
    display: block;
    position: fixed;
    background-color: #f0f0f0;
    z-index: 1;
    opacity: 0.75;
    left: 0;
    list-style: none;
    text-align: center;
    font-size: 0.975rem;
    font-weight: bold;
    margin-top: 2rem;
    padding-left: 0;
  }

  #hamburger-content.active .nav-item {
    background-color: #fff;
    height: 3rem;
    padding-top: 0.75rem;
    margin: 0.5rem auto;
  }
   #hamburger-content.active .nav-item:hover {
    background-color: #d3d3d3;
  }

  #footer-links{
    flex-direction: column;
    padding-left: 4rem;
  }
  .nav-text {
    margin-left: 0;
  }

  #footer-links .nav-item {
    color: #4a49c9;
    margin-top: 0;
    flex-direction: column;
  }

 /* .nav-text {
    margin: 1.25rem;
  }*/
}





.btn-purple button{
  all: unset;
  color: #fff;
  background-color: #4a49c9;
  text-align: center;
  border-radius: 0.5rem;
  width: 10rem;
  height: 2.5rem;
  font-size: .875rem;
  text-transform: uppercase;
  font-weight: bold;
}


.btn-purple button:hover{
  color: #fff;
  background-color: #1816a6;

}

/* main */

/* Sections */
section {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  overflow: hidden;
}


#main{
  background-color: #F0f0f0;
}

#main-container {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  margin-bottom: 3rem;
}



#main-text{
  margin-top:1.5rem;
  margin-right:1rem;
  display: flex;
  flex-direction: column;
}


#main h1{
  color: #242456;
  font-size: 3.25rem;
  margin-bottom: 0;
  font-weight: normal;
}

#main h2{
  color: #242456;
  font-size: 2.75rem;
  margin-bottom: 0;
  font-weight: normal;
}

#main h3{
  color: #242456;
  font-size: 2.25rem;
  margin-bottom: 0;
  font-weight: normal;
}

#main p{
  font-size: 1.125rem;
  color: #242456;
}

#main-btn{
  all: unset;
  color: #fff;
  background-color: #4a49c9;
  border-radius: 0.5rem;
  width: 10rem;
  height: 2.5rem;
  font-size: .875rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-right:0.5rem;
}

#main-btn:hover{
  color: #fff;
  background-color: #1816a6;
}

#contact-main {
  border-radius: 0.5rem;
  width: 10rem;
  height: 2.5rem;
  font-size: .875rem;
}

.img-right{
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  width: 35rem;
}


#main-photo {
  width: 45rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: 0;
}

#main-photo  img{
    width: 40rem;
}



@media screen and (max-width: 1150px) {
  #main-container {
    flex-direction: column;
    height: auto;
    width: 80vw;
    margin: auto;
    padding: 1rem 0;

  }

  #main-container h1 {
    margin: auto;
    padding-top: 5rem;
    font-size: 2.75rem;
    text-align: center;
  }

  #main-container p {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 1.5rem;
  }

  #main-container h1 br{
    display: none
  }

  #main-photo{
    display: none;
  }

  #main-text {
    width: 80vw;
    margin:auto;
    padding: 0;
  }


  #main-text a {
    text-align: center;
  }
  #main-btn {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  #contact-main {
    width: 100%;
  }

  #team-btn {
    width: 100%;
  }


}



.banner {
  background-color: #242456;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.banner h2{
  text-align: center;
  color: #FFF;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0rem;
}

#logo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .5rem 5vw;
}

#logo-container img{
  padding: .5em;
  width: 60%;
  margin: auto;
}

.testimonial-main {
  width: 60%;
  margin: auto;
  color: #fff;
}

.testimonial-quote{
  font-style: italic;
  text-align: right;
  font-size: 0.875rem;
}

.testimonial-person {
  font-style: italic;
  text-align: right;
}

.bold {
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  #logo-container img{
    width: 100%;
  }

}

#stats {
  display: flex;
  flex-direction: column;
}
.center {
  text-align: center;
}

.banner-white {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.banner-white h2{
  text-align: center;
  color: #242456;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}

.banner-white p {
  color: #242456;
}

.banner-white .stat-no {
  color: #4a49c9;
}

.banner-purple {
  background-color: #4a49c9;
  display: flex;
  flex-direction: column;
  color: #fff;
}


.banner-purple h2{
  text-align: center;
  color: #fff;
  font-size: 2.25rem;
  font-weight: normal;
}

.banner-white p {
  color: #fff;
}


.section-container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: auto;
  margin-bottom: 2rem;
}

#empower-img{
    margin-left: 3rem;
    width: 35rem;
    padding: 2rem;
    margin-top: 2rem;
}



#empower-text{
  display: flex;
  flex-direction: column;
  color: #242456;
  margin-right: 4rem;
  margin-left: 2rem;
  margin-top: 1.5rem;
  width: 450px;
}

#empower-text h2{
  font-size: 2.75rem;
  color: #242456;
  margin-bottom: 0;
  margin-top: 4rem;
  font-weight: normal;
}


#empower #empower-text p{
  color: #242456;
}

@media screen and (max-width: 1500px){
  #empower-text{
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1150px) {
  .section-container {
    flex-direction: column;
  }

  #empower-text{
    padding-bottom: 0;
    padding-top: 0;
    width: 80vw;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  #empower-text h2 {
    margin-top: 0;
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  #empower-img {
    margin-left: 1rem;
    width: 80vw;
    margin: auto;
    padding: 2rem 0;
  }


  #logo-container img{
    width: 100%;
  }

  #section-container br {
    display: none;
  }

}


/*#skills {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}*/

#skills-text {
  padding: 1rem 2rem; 
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-top: 1.5rem;
  margin-left: 4rem;

  
}

#skills-text h2{
  font-size: 2.75rem;
  color: #242456;
  margin-bottom: 0;
  font-weight: normal;
  margin-top: 1rem;
}

#skills-text p{
  color: #242456;
}


#skills-img{
  padding: 2rem;
  width: 35rem;
  margin-left: auto;
  margin-right: 3rem;
}

@media screen and (max-width: 1350px){
  #skills-img{
    margin-right: 1rem;
  }
}


@media screen and (max-width: 1150px) {

  #skills .section-container {
    flex-direction: column-reverse;
    padding-bottom: 2rem;
  }

  #skills br {
    display: none;
  }

  #skills-text{
    padding: 0;
    margin-left: 0;
    width: 80vw;
  }

  #skills #skills-text h2 {
    margin-top: 0;
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  #skills br {
    display: none;
  }


  #skills-img{
    width: 80vw;
    margin: auto;
    padding: 0;
  }

  #logo-container img{
    width: 100%;
  }

}


@media screen and (max-width: 800px) {
  .hidden-mobile {
    display: none;
  }
}


.footer {
  width: 100vw;
  background-color: #4a49c9;
  color: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
}

.footer-white {
  background-color: #fff;
  color: #242456;
}

#program-footer{
  font-family: 'Lato', sans-serif;
}

.footer-logo {
  width: 7.5rem;
}

.footer #footer-text h2 {
  font-size: 2.25rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
}

.contact {
  all: unset;
  color: #4a49c9;
  background-color: #fff;
  margin: auto;
  margin-bottom: 2em;
  border-radius: 0.5rem;
  width: 10rem;
  height: 2.5rem;
  font-size: .875rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.contact:hover {
  color: #4a49c9;
  background-color: #d3d3d3;
}


.stats-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 80vw;
  margin: auto;
}

.stats-container p{
  padding: 1rem;
  display: inline-block;
  margin: auto;
  margin-bottom: 1rem;
}

.stat-no {
  font-size: 3.25rem;
}

.outline-navy {
  border: 2px solid #242456;
}




.footer .stats-container p{
  padding: 1rem;
  margin-bottom: 1rem;
}


@media screen and (max-width: 600px){
  .stats-container {
    flex-direction: column;
  }

  #footer-text {
    width: 80vw;
    text-align: center;
    margin-left: 0rem;
  }

}


/* Programs */

#programs-main{
  background-color: #F0f0f0;
  display: flex;
  flex-direction: row;
  padding-top: 5rem;
}

#programs-main-text{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 4rem;
  padding-bottom: 1.5rem;
  display: block;
  width: 80vw;
}


#programs-main h1{
  color: #242456;
  font-size: 3.125rem;
}

#programs-main p{
  color: #242456;
  font-size: 1.25rem;
}


#programs-detail {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #242456;
}

#program-detail-head{
  font-size: 2.8rem;
  margin: auto;
  padding-top: 2rem;
}

.video-container {
  margin: auto;
  padding: 3rem 1.5rem;
}

#video-demo{
  aspect-ratio: 16 / 9;
  width: 700px;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.card {
  flex-direction: column;
  width: 40rem;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  background-color: #f0f0f0;
  color: #242456;
  min-height: 38rem;
  margin: 2rem auto;
}

.card-head {
  text-align: center;
  font-size: 2.25rem;
}

.card-btn {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.info-pair{
  padding: 0 4rem;
  margin-bottom: 0;
}

.info-pair h4{
  margin-bottom: 0;
}

.info-pair li {
  padding-bottom: 0.5rem;
  font-size: 1.125rem;
}

.inquire-btn{
  all: unset;
  color: #4a49c9;
  background-color: #fff;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.25rem;
  width: 12rem;
  height: 3rem;
  margin: 1.5rem;
}

#btn-use{
  background-color: #4a49c9;
  color: #fff;
}

#btn-use:hover{
  background-color: #1816a6;
  color: #fff;
}

.inquire-btn:hover{
  background-color: #d3d3d3;
}

@media screen and (max-width: 800px) {
  #programs-main{
    padding-top: 4rem;
  }

   #programs-main h1{
    font-size: 2.5rem;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 80vw;
    margin: auto;
    height: auto;
    margin-bottom: 2rem;
  }

  .inquire-btn {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
  }


  #video-demo{
    aspect-ratio: 16 / 9;
    width: 100%;
  }


/*  #approach{
    padding-top: 3rem;
  }*/
    
}



#special {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

#special-head {
  width: 42.5vw;
  margin-left: 7.5vw;
  margin-top: 3.125rem;
  color: #242456;
  font-size: 1.5rem;
}

#special-span {
  color: #4a49c9;
  font-style: italic;
}

#special ul {
  width: 42.5vw;
  margin-right: 7.5vw;
  font-size: 1.125rem;
  color: #242456;
}

#special li {
  padding: 10px;
}


@media screen and (max-width: 600px) {
  #special {
    flex-direction: column;
  }

  #special-head {
    width: 90%;
    margin: auto;
  }


  #special ul {
    width: 90%;
    margin: auto;
  }

  .card-container {
    padding-top: 3rem;
  }

  #programs-main-text{
    padding-left: 0;
  }

  

}

/* Team */

.bio {
  display: flex;
  flex-direction: row;
  padding: 3rem 0 1.5rem 0;

}

#logos-team{
  padding-top: 8rem;
  font-family: 'Lato', sans-serif;
}



.img-left {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  width: calc(50vw - 5rem);
}

.img-left img {
  width: 20rem;
  border-radius: 15%;
  background-color: #fff;
}

.img-left h3{
  margin-bottom: 0;
  font-size: 2rem;
  margin-left: 1.5rem;
}

.img-left h4{
  margin: 0 10px;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.txt-right {
  width: calc(50vw - 10rem);
  margin-right: 10rem;
}

.txt-right p {
  font-size: 1.125rem;
}

#dan {
  background-color: #f0f0f0;
  color: #242456;
}

#kevin {
  background-color: #fff;
  color: #242456;
}


/*Contact */

#contact {
  background-color: #f0f0f0;
  padding: 6.5rem 0;
  color: #242456;
  display: flex;
  flex-direction: column;
}

#contact-header-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;

}

#contact-body-container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: auto;
  margin-top: 2.5rem;
}

.checklist{
  color: #242456;
}

.txt-left {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  width: calc(50vw - 5rem);
}

.form-right {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  width: calc(50vw - 5rem);
  font-size: 1.5rem;

}



#contact-us input{
  width: 28rem;
  height: 3.25rem;
  margin-bottom: .75rem;
  font-size:1.25rem;
  font-family: 'Lato', sans-serif;
}


#contact-us #interest{
  width: 28rem;
  height: 3.25rem;
  margin-bottom: .75rem;
  font-size:1.25rem;
}


#logo-contact {
  width: 5rem;
}

.testimonial-contact{
  font-style: italic;
  width: 80%;
}

#test-head{
  margin-bottom: 0;
  font-size: 2.75rem;
  text-align: center;
}

#test-subhead{
  margin-top: 1rem;
  font-size: 2rem;
}

.testimonial-person{
  font-style: normal;
}

#logo-vz-testimonial{
  width: 7.5rem;
}

.highlight{
  color: #4a49c9;
}

.white {
  color: #fff;
}

.privacy-policy{
  font-size: 0.75rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: inline-block;
  width: 28rem;

}

.privacy-policy a {
  font-size: 0.75rem;
}

#privacy-policy-container {
  background-color: #f0f0f0;
  color: #242456;
}

#legal-container {
  width: 80vw;
  margin: 5rem auto;
}


@media screen and (max-width: 850px) {
  .bio{
    flex-direction: column
  }


  #contact {
    flex-direction: column;
  }

  #bv-stats h2{
    font-size: 2.25rem;
    width: 80vw;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  .img-left {
    width: 80vw;
    margin: auto;
    padding: 1.125rem;
  }

  #contact-body-container {
    flex-direction: column;
  }

  .txt-left {
    width: 80vw;
    margin: auto;
    padding: 1.125rem;
  }

  .txt-right {
    width: 80vw;
    margin: auto;
    padding: 1.125rem;
  }

  .img-right {
    width: 80vw;
    margin: auto;
  
  }


  .form-right {
    width: 100%;
    margin: auto;
    padding: 1.25rem;
  }

  form {
    width: 80vw;
    margin: auto;
  }

  #contact-us input{
    width: 86%;
    height: 4.25rem;
    margin: .5rem auto;
    font-size:1rem;
  }

  #contact-us #interest{
    width: 86%;
    height: 4.25rem;
    margin: .5rem auto;
    font-size:1rem;
  }



  #contact-btn-form{
    width: 86%;
    margin: auto;
  }

  .privacy-policy{
    width: 86%;
    margin: 1rem auto;
  }
}


